body{
    width: 100%;
    background-color: #0e005e67;
    color: #FFFFFF;
    height: 100vh;
    margin: 0;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}


label,legend{
    display: block;
    margin: 0.5rem 0 0 20px;
}

input,select,textarea{
    margin: 5px 0 0 0px;
    width: 90%;
    min-height: 2em;
}
select{
    width: 91.7%;
}

h1,p{
    padding-top: 10px;
    margin: auto;
    text-align: center;
}
form{
    background-color: #3a336367;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

fieldset{
    border: 0;
}

input[type="submit"] {
    color:white;
    display: block;
    width: 90%;
    margin: 1em auto;
    margin-left: 20px;
    height: 2em;
    font-size: 1.3rem;
    background-color: #22c244c0;
    border-color: white;
    min-width: 300px;
}
.inline{
    display: inline;
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}

input[type="radio"]{
    margin-left: 2px;
}

input[type="checkbox"]{
    margin-left: 2px;
}
